### to enable filaman, uncomment the following lines and set the server and api_key values. The sync_rate is in seconds, default_density_g_cm3 is in g/cm3, default_diameter_mm is in mm, and repush_delay is in seconds.

### ---------------------------------------------------------
### enable the plugin by uncommenting the following line

#[filaman]

### ---------------------------------------------------------

### ---------------------------------------------------------
### FilaMan Server URL/IP and API key

#server: http://192.168.x.x:8000

### ---------------------------------------------------------

### ---------------------------------------------------------
### Get your API key from the FilaMan web interface (User Settings -> API Key)

#api_key: uak.3.xxxxxxxxxxxxxxxxxxxxx

### ---------------------------------------------------------

### ---------------------------------------------------------
### Sync rate in seconds how often send filament usage data to the FilaMan server. Default is 5 seconds.

#sync_rate: 5

### ---------------------------------------------------------

### ---------------------------------------------------------
### Default values for filament properties

#default_density_g_cm3: 1.24
#default_diameter_mm: 1.75

### ---------------------------------------------------------

### ---------------------------------------------------------
### delay when moonraker send the set filaments to the printer after boot.
### if your printer shows the filament as "unknown" after boot, you can try to increase this value.

#repush_delay: 20

### ---------------------------------------------------------